---
import SectionTitle from "../ui/SectionTitle.astro";
import TeamCard from "../ui/TeamCard.astro";
import Section from "./Section.astro";

const description =
  "Business Softwares is a one man operation";

// Team images
import p1 from "../../assets/team/t1.png";


const team = [
  {
    pic: p1,
    name: "Muhtasim Hossain",
    role: "Your tech solutions partner",
    description:
      "5+ years of solving business problems with tailored software solutions.",
    link: "mailto:muhtasimhossain43@gmail.com",
  },
];
---

<Section id="about">
  <div class="mt-[140px] mb-[140px] relative">
    <SectionTitle sectionTitle="Meet the Army" description={description} />
    <div
      class="grid grid-cols-1 gap-10"
    >
      {
        team.map((member, index) => (
          <TeamCard
            key={index}
            pic={member.pic}
            name={member.name}
            role={member.role}
            description={member.description}
            link={member.link}
          />
        ))
      }
    </div>
  </div>
</Section>
